/* ~~~~~CSS Reset~~~~~ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ~~~~~CSS Reset~~~~~ */

/* ~~~~~Grid Layout~~~~~ */

.mainContainer {
    display: grid;
    grid-template-columns: 1.5fr 0.6fr 1.5fr 0.6fr 1.5fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
}

.spaceLeft {
    grid-area: 1 / 1 / 4 / 2;
}

.spaceRight {
    grid-area: 1 / 5 / 4 / 6;
}

.Footer {
    grid-area: 3 / 1 / 4 / 6;
}

.contentRight {
    grid-area: 2 / 4 / 3 / 5;
}

.contentLeft {
    grid-area: 2 / 2 / 3 / 3;
}

.contentMid {
    grid-area: 2 / 3 / 3 / 4;
}

.NavBar {
    grid-area: 1 / 1 / 2 / 6;
}

.pageContent {
    grid-area: 2 / 3 / 3 / 5;
}

/* ~~~~~Grid Layout~~~~~ */

h1 {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-size: 13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: auto;
}

.mainContainer {
    
}

.contentLeft {
    background-color: #111;
}

.pageContent {
    width: 100%;
    background-color: darkblue;
}

.contentMid {
    background-color: green;
    align-self: center;
}

.contentRight {
    background-color: crimson;
    width: 100%;
    align-self: right;
}

/* The navigation menu links */
.contentLeft a {
    padding: 3% 3% 3% 25%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    align-self: center;
}

/* When you mouse over the navigation links, change their color */
.contentLeft a:hover {
    color: #f1f1f1;
}

.contentLeft h1 {
    color: white;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}